* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Silkscreen', cursive;
}

.header-section-container {
    display: flex;
    justify-content: center;
    background-color: #02041A;
    border-bottom: 2px solid #004997;
    position: fixed;
    width: 100%;
}

.header-center {
    width: 50%;
    display: flex;
    align-items: center;
}

header a {
    display: flex;
    height: 75px;
    text-decoration: none;
    color: white;
    flex-grow: 1;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #012764;
    color: #9B4903;
    transition: all 250ms;
}

header img {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .header-center {
        width: 90%;
    }
    header a {
        font-size: 15px
    }
}