* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Silkscreen', cursive;
    background-color: #030714;
}

.header-section-container {
    display: flex;
    justify-content: center;
    background-color: #02041A;
    border-bottom: 2px solid #004997;
    position: fixed;
    width: 100%;
}

.header-center {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header a {
    display: flex;
    height: 75px;
    text-decoration: none;
    color: white;
    flex-grow: 1;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.secret {
    height: 16px;
    color: white;
    opacity: 0;
}

.secret-container {
    position: absolute;
    top: 62.9%;
    right: 39.7%;
}

header a:hover {
    background-color: #012764;
    transition: all 250ms;
}

.header-center a:nth-child(1):hover, .header-center a:nth-child(3):hover {
    color: #B61116;
}

.header-center a:nth-child(2):hover, .header-center a:nth-child(4):hover {
    color: #185D00;
}

header img {
    width: 100%;
    height: 100vh;
}

.teste {
    height: 500px;
    background-color: #030714;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste2 {
    height: 500px;
    background-color: #070E26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste p, .teste2 p {
    margin: 0 15px;
    color: white;
}

.fa-solid {
    color: white;
}

@media screen and (max-width: 768px) {
    .header-center {
        width: 80%;
    }
    header a {
        font-size: 15px
    }
}